trigger:
- master

stages:
- stage: CI
  jobs:
  - job: Validate
    pool:
      vmImage: 'Ubuntu-16.04'
    steps:
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: '0.11.13'            
      - task: Bash@3
        displayName: Lint
        inputs:
          targetType: 'inline'
          script: '/opt/hostedtoolcache/terraform/0.11.13/x64/terraform fmt -check=true'          
      - task: TerraformCLI@0
        displayName: Init - sandbox
        inputs:
          command: 'init'
          backendType: 'azurerm'
          backendServiceArm: 'azurerm_rpetemp_rg_creator'
          backendAzureRmResourceGroupName: 'core-infra-rpetemp'
          backendAzureRmStorageAccountName: 'rpetemptfstate'
          backendAzureRmContainerName: 'rpetemp'
          backendAzureRmKey: 'rgs/sandbox.tfstate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
      - task: TerraformCLI@0
        displayName: Validate - Sandbox
        inputs:
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'

      - task: TerraformCLI@0
        displayName: Plan - Sandbox
        inputs:
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
          environmentServiceName: 'azurerm_rpetemp_rg_creator'

      - task: TerraformCLI@0
        displayName: Init - aat
        inputs:
          command: 'init'
          backendType: 'azurerm'
          backendServiceArm: 'azurerm_rpetemp_rg_creator'
          backendAzureRmResourceGroupName: 'core-infra-rpetemp'
          backendAzureRmStorageAccountName: 'rpetemptfstate'
          backendAzureRmContainerName: 'rpetemp'
          backendAzureRmKey: 'rgs/aat.tfstate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
      - task: TerraformCLI@0
        displayName: Validate - aat
        inputs:
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
      - task: TerraformCLI@0
        displayName: Plan - AAT
        inputs:
          command: 'plan'
          workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
          environmentServiceName: 'azurerm_rpetemp_rg_creator'
- stage: Sandbox  
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'sandbox'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@0
              inputs:
                terraformVersion: '0.11.13'
            - task: TerraformCLI@0
              displayName: Init - sandbox
              inputs:
                command: 'init'
                backendType: 'azurerm'
                backendServiceArm: 'azurerm_rpetemp_rg_creator'
                backendAzureRmResourceGroupName: 'core-infra-rpetemp'
                backendAzureRmStorageAccountName: 'rpetemptfstate'
                backendAzureRmContainerName: 'rpetemp'
                backendAzureRmKey: 'rgs/sandbox.tfstate'
                workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
            - task: TerraformCLI@0
              displayName: Plan - sandbox
              inputs:
                command: 'plan'
                environmentServiceName: 'azurerm_rpetemp_rg_creator'
                workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
                commandOptions: '-out=tfplan'
            - task: TerraformCLI@0
              displayName: Apply - sandbox
              inputs:
                command: 'apply'
                environmentServiceName: 'azurerm_rpetemp_rg_creator'
                commandOptions: 'tfplan'
                workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
- stage: Perftest
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  dependsOn: Sandbox
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'perftest'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'echo hello world'
- stage: ITHC
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  dependsOn: Sandbox
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'ithc'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'echo hello world'
- stage: Demo
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  dependsOn: Sandbox
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'demo'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'echo hello world'
- stage: AAT
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  dependsOn: Sandbox
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'aat'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
            - checkout: self
            - task: TerraformInstaller@0
              inputs:
                terraformVersion: '0.11.13'
            - task: TerraformCLI@0
              displayName: Init - aat
              inputs:
                command: 'init'
                backendType: 'azurerm'
                backendServiceArm: 'azurerm_rpetemp_rg_creator'
                backendAzureRmResourceGroupName: 'core-infra-rpetemp'
                backendAzureRmStorageAccountName: 'rpetemptfstate'
                backendAzureRmContainerName: 'rpetemp'
                backendAzureRmKey: 'rgs/aat.tfstate'
                workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
            - task: TerraformCLI@0
              displayName: Plan - aat
              inputs:
                command: 'plan'
                environmentServiceName: 'azurerm_rpetemp_rg_creator'
                workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
                commandOptions: '-out=tfplan'
            - task: TerraformCLI@0
              displayName: Apply - aat
              inputs:
                command: 'apply'
                environmentServiceName: 'azurerm_rpetemp_rg_creator'
                commandOptions: 'tfplan'
                workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
- stage: Prod
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  dependsOn: Sandbox
  jobs:
  - deployment: Deploy
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'prod'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: 'echo hello world'
