trigger:
- master

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'Ubuntu-16.04'
    continueOnError: true
    steps:
      - task: TerraformInstaller@0
        inputs:
          terraformVersion: '0.11.13'
      - task: TerraformCLI@0
        displayName: Init - sandbox
        inputs:
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
      - task: TerraformCLI@0
        displayName: Validate - Sandbox
        inputs:
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'
      - task: TerraformCLI@0
        displayName: Init - aat
        inputs:
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
      - task: TerraformCLI@0
        displayName: Validate - aat
        inputs:
          command: 'validate'
          workingDirectory: '$(System.DefaultWorkingDirectory)/aat'
- stage: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: RunIt
    pool:
      vmImage: 'Ubuntu-16.04'
    environment: 'sandbox'
    strategy:
      # default deployment strategy
      runOnce:
        deploy:
          steps:
            - task: TerraformInstaller@0
              inputs:
                terraformVersion: '0.11.13'
            - task: TerraformCLI@0
              displayName: Validate - Sandbox
              inputs:
                command: 'validate'
                workingDirectory: '$(System.DefaultWorkingDirectory)/sandbox'